body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #7d0cdf;
}

#cabecalho .nav .nav-link.active {
background-color: #fff;
color: #7d0cdf;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-card .nav-link.active:hover {
    color: #fff;
}

.navbar-brand {
    font-family: Oswald, cursive;
}

.navbar-toggler {
    background-color: white;
}

.section-tittle {
    font-family: Oswald, cursive;

}

.section-tittle span {
    color: #7d0cdf;
}

#sobre,
#cardapio {
    background-color: #e2cdf4;
}

.text-color {
    color: #7d0cdf;
}

.nav-card .nav-link.active,
#contato button {
    background-color: #7d0cdf;
    color: #fff;
}

.nav-card .nav-link:hover {
    color: #7d0cdf;
}

.social-links li {
    list-style: none;
    display: inline;

}

.social-links li a {
    text-decoration: none;
}

footer {
    background-color: #7d0cdf;
    color: #fff;
    padding: 16px 0;
    margin-top: 16px;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

.games a{
    background-color: #7d0cdf;
    color: #fff;
}